<div class="modal show fade d-block" tabindex="-1" *ngIf="isOpen" (click)="onBackdropClick($event)" style="background: rgba(0,0,0,0.5);">
    <div class="modal-dialog" style="width: auto; max-width: 60%;" (click)="$event.stopPropagation()">
        <div class="modal-content" style="width: auto; height: auto;">
            <div class="modal-body">
                <div class="card card-size text-center fw-bold">
                    <div class="card-body">
                        <form [formGroup]="formularioRegistro!" (ngSubmit)="saveForm()">

                            <div class="container text-end">
                                <div class="row">
                                    <div class="col-12">
                                        <label class="form-label">*campos obligatorios</label>
                                    </div>
                                </div>
                            </div>

                            <div class="container text-center mt-4">
                                <div class="row">
                                    <div class="col-6">
                                        <label class="form-label">{{ 
                                            idRegistroC ? 
                                            'Registro de Instituciones y personas para acompañamiento' : 
                                            'Edición - Instituciones y personas para acompañamiento' 
                                        }}</label>
                                    </div>
                                    <div class="col-3">
                                        <div class="container text-center">
                                            <div class="row row-cols-1">
                                                <div class="col"><label class="form-label">Dirección Distrital:</label></div>
                                                <div class="col"><label class="form-label" style="color: #b7b5b8;" >29</label></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="container text-center">
                                            <div class="row row-cols-1">
                                                <div class="col"><label class="form-label">Fecha:</label></div>
                                                <div class="col"><label class="form-label" style="color: #b7b5b8;" >{{ today }}</label></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="container text-center mt-4">
                                <div class="row row-cols-2">
                                    <div class="col">
                                        <div class="container text-center">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div style="border: 1px solid" *ngIf="imagePreviewUrl">
                                                    <img [src]="imagePreviewUrl" alt="Previsualización de la imagen" style=" max-width: 192px;">
                                                    </div>
                                                    <input class="form-control txt-input" (change)="onFileSelected($event)" type="file" accept="image/*" id="formFile">
                                                </div>
                                                
                                                <div class="col-6">
                                                    <div class="mb-3">
                                                        <label class="form-label">Demarcación Territorial:</label>
                                                        <select 
                                                            formControlName="demarcacion"
                                                            class="select-input form-select" 
                                                            aria-label="Default select example"
                                                            [(ngModel)]="opcionDemarcacion"
                                                        >
                                                            <option selected></option>
                                                            @for (item of catalogoDemarcacion; track item) {
                                                            <option [value]="item.id">{{item.demarcacion_territorial}}</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="form-label">*Pueblo Originario:</label>
                                                        <select 
                                                            formControlName="demarcacion"
                                                            class="select-input form-select" 
                                                            aria-label="Default select example"
                                                            [(ngModel)]="opcionDemarcacion"
                                                        >
                                                            <option selected></option>
                                                            @for (item of catalogoDemarcacion; track item) {
                                                            <option [value]="item.id">{{item.demarcacion_territorial}}</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="form-label">*Unidad Territorial:</label>
                                                        <select 
                                                            formControlName="demarcacion"
                                                            class="select-input form-select" 
                                                            aria-label="Default select example"
                                                            [(ngModel)]="opcionDemarcacion"
                                                        >
                                                            <option selected></option>
                                                            @for (item of catalogoDemarcacion; track item) {
                                                            <option [value]="item.id">{{item.demarcacion_territorial}}</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="container text-center">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="mb-3 ">
                                                        <label class="form-label">*Nombre (s) y apellidos completos:</label>
                                                        <input 
                                                            type="text"
                                                            formControlName="domiciliol"
                                                            class="form-control txt-input"
                                                        >
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="container text-center">
                                            <div class="row">
                                                <div class="col">
                                                    <label class="form-label">*Pueblo:</label>
                                                    <select 
                                                        formControlName="demarcacion"
                                                        class="select-input form-select" 
                                                        aria-label="Default select example"
                                                        [(ngModel)]="opcionDemarcacion"
                                                    >
                                                        <option selected></option>
                                                        @for (item of catalogoDemarcacion; track item) {
                                                        <option [value]="item.id">{{item.demarcacion_territorial}}</option>
                                                        }
                                                    </select>
                                                </div>
                                                <div class="col mb-3">
                                                    <label class="form-label">*Barrio:</label>
                                                    <select 
                                                        formControlName="demarcacion"
                                                        class="select-input form-select" 
                                                        aria-label="Default select example"
                                                        [(ngModel)]="opcionDemarcacion"
                                                    >
                                                        <option selected></option>
                                                        @for (item of catalogoDemarcacion; track item) {
                                                        <option [value]="item.id">{{item.demarcacion_territorial}}</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="container text-center">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="mb-3">
                                                        <label class="form-label">Otro</label>
                                                        <input 
                                                            type="text"
                                                            formControlName="domiciliol"
                                                            class="form-control txt-input"
                                                        >
                                                    </div>
                                                </div>
                                                <div class="col"></div> 
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="col-12 text-center">
                                            <div class="mb-3">
                                                <label class="form-label">*Seleccionar comunidad:</label>
                                                <select 
                                                    formControlName="demarcacion"
                                                    class="select-input form-select" 
                                                    aria-label="Default select example"
                                                    [(ngModel)]="opcionDemarcacion"
                                                >
                                                    <option selected></option>
                                                    @for (item of catalogoDemarcacion; track item) {
                                                    <option [value]="item.id">{{item.demarcacion_territorial}}</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Interés profesional como:</label>
                                                <select 
                                                    formControlName="demarcacion"
                                                    class="select-input form-select" 
                                                    aria-label="Default select example"
                                                    [(ngModel)]="opcionDemarcacion"
                                                >
                                                    <option selected></option>
                                                    @for (item of catalogoDemarcacion; track item) {
                                                    <option [value]="item.id">{{item.demarcacion_territorial}}</option>
                                                    }
                                                </select>
                                            </div>

                                            <label class="form-label">Datos de la institución a la que pertence</label>
                                            <div class="mb-3 mt-4">
                                                <label class="form-label">Nombre de la institución:</label>
                                                <input 
                                                    type="text"
                                                    formControlName="domiciliol"
                                                    class="form-control txt-input"
                                                >
                                            </div>
                                            <div class="mb-3 mt-4">
                                                <label class="form-label">Cargo:</label>
                                                <input 
                                                    type="text"
                                                    formControlName="domiciliol"
                                                    class="form-control txt-input"
                                                >
                                            </div>

                                            <div class="container text-center">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <button type="submit" class="btn button-register">Registrar</button>
                                                    </div>
                                                    <div class="col-6">
                                                        <button type="button" (click)="resetData()" class="btn button-clean">Cancelar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col mt-4 text-center">
                                        <label class="form-label">Datos de contacto obtenidos de forma pública o <br>con autorización de la persona titular de la información</label>
                                        <div class="col-12 mt-1">
                                            <label class="form-label">Domicilio:</label>
                                            <input 
                                                type="text"
                                                formControlName="domiciliol"
                                                class="form-control txt-input"
                                            >
                                        </div>
                                        <div class="mt-4 mb-3 col-12">
                                            <label class="form-label">Teléfono:</label>
                                            <input 
                                                type="text"
                                                formControlName="domiciliol"
                                                class="form-control txt-input"
                                            >
                                        </div>
                                        <div class="mt-4 mb-3 col-12">
                                            <label class="form-label">Correo Electrónico:</label>
                                            <input 
                                                type="text"
                                                formControlName="domiciliol"
                                                class="form-control txt-input"
                                            >
                                        </div>
                                        <div class="col-12">
                                            <div class="mb-3">
                                                <label class="col-sm-8 form-label" style="color: #b7b5b8;">*Ubicación georreferenciada <br>(kml)</label>
                                                <input class="form-control txt-input" type="file" id="formFile">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>