<div class="modal show fade d-block" tabindex="-1" *ngIf="isOpen" style="background: rgba(0,0,0,0.5);">
    <div class="modal-dialog" style="width: auto; max-width: 83%;" (click)="$event.stopPropagation()">
        <div class="modal-content" style="width: auto; height: auto;">
            <div class="modal-body">
                <div class="card card-size text-center fw-bold">
                    <div class="card-body">
                        <form [formGroup]="formularioRegistro!" (ngSubmit)="saveForm()">
                            <div class="container text-center">
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3">
                                            <label class="form-label">{{ labelTitle }}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="container text-center">
                                <div class="row">
                                    @if(this.idRegistro){
                                        <div class="col">
                                            <div class="mb-3">
                                                <label class="form-label">Número Consecutivo</label>
                                                <input 
                                                    type="text"
                                                    [(ngModel)]="consecutivo"
                                                    formControlName="consecutivo"
                                                    class="form-control txt-input">
                                            </div>
                                        </div>
                                    }
                                    <div class="col">
                                        <div class="mb-3">
                                            <label class="form-label">Dirección Distrital</label>
                                            <input 
                                                type="text"
                                                [(ngModel)]="area"
                                                formControlName="dDistrital"
                                                class="form-control txt-input">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="container text-center">
                                            <div class="row row-cols-1">
                                                <div class="col"><label class="form-label">Fecha de registro</label></div>
                                                <div class="col"><label class="form-label" style="color: #b7b5b8;" >{{ today }}</label></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="container text-center mt-4">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="mb-3">
                                            <label class="form-label">*Demarcación Territorial</label>
                                            <select 
                                                formControlName="demarcacion"
                                                class="select-input form-select" 
                                                aria-label="Default select example"
                                                [(ngModel)]="opcionDemarcacion"
                                            >
                                                <option value="" disabled selected>Seleccione una opción</option>
                                                @for (item of catalogoDemarcacion; track item) {
                                                <option [value]="item.id">{{item.demarcacion_territorial }}</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="mb-3">
                                            <label class="form-label">*Denominación del lugar o espacio</label>
                                            <input 
                                                maxlength="200"
                                                type="text"
                                                formControlName="lugar_espacio"
                                                class="form-control txt-input">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="form-label">*Domiclio</label>
                                            <input
                                                maxlength="200"
                                                type="text"
                                                formControlName="domicilio"
                                                class="form-control txt-input"
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="container text-center">
                                <div class="row">
                                     <div class="col-6">
                                        <div class="mb-3 position-relative">
                                            <label class="col-sm-8 form-label" style="color: #b7b5b8;">*Ubicación georreferenciada <br>(kml)</label>
                                            <div class="d-flex align-items-center">
                                                <input
                                                    class="form-control"
                                                    type="file"
                                                    id="formFileu"
                                                    (change)="onFileSelect($event, 'kml')"
                                                    accept=".kml"
                                                />
                                                <button 
                                                    *ngIf="fileUploadedu || infoUpdate?.enlace_ubicacion" 
                                                    type="button" 
                                                    class="btn btn-outline-danger ms-2"
                                                    (click)="removeFileu()"
                                                    title="Eliminar archivo">
                                                    <i class="bi bi-trash"></i>
                                                </button>
                                            </div>
                                        </div>

                                        <div *ngIf="infoUpdate?.enlace_ubicacion">
                                            <small>Archivo actual: {{ infoUpdate?.enlace_ubicacion }}</small>
                                        </div>
                                    </div>
                                    
                                    <div class="col-6">
                                        <div class="mb-3 position-relative">
                                            <label class="col-sm-8 form-label" style="color: #b7b5b8;">*Este campo se habilitará cuando <br> lo determine la DEOEyG</label>
                                            <div class="d-flex align-items-center">
                                                <input
                                                    class="form-control"
                                                    type="file"
                                                    id="formFilef"
                                                    (change)="onFileSelect($event, 'zip')"
                                                    accept=".zip"
                                                />

                                                <button 
                                                    *ngIf="fileUploadedf || infoUpdate?.enlace_fotografia" 
                                                    type="button" 
                                                    class="btn btn-outline-danger ms-2"
                                                    (click)="removeFile()"
                                                    title="Eliminar archivo">
                                                    <i class="bi bi-trash"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div *ngIf="infoUpdate?.enlace_fotografia || selectedFileName">
                                            <small>Archivo actual: {{ selectedFileName || infoUpdate?.enlace_fotografia }}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        
                            <div class="container text-center mt-4">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="form-label">*Institución propietaria, encargada o responsable del lugar o espacio</label>
                                            <input 
                                                maxlength="200"
                                                type="text"
                                                formControlName="intitucion_propietaria"
                                                class="form-control txt-input"
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="container text-start mt-4">
                                <div class="row row-cols-2">
                                    <div class="col mb-3">
                                        <label class="form-label">*¿Ha sido facilitado el préstamo al IECM con anterioridad?</label>
                                    </div>
                                    <div class="col">
                                        <div class="container text-center">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-check form-check-reverse">
                                                        <input 
                                                            style="border: 1px solid black;" 
                                                            value="1" 
                                                            formControlName="anterioridad" 
                                                            class="form-check-input" 
                                                            type="radio">
                                                        <label class="form-check-label" for="reverseCheck1">
                                                            Si
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-check form-check-reverse">
                                                        <input 
                                                            style="border: 1px solid black;" 
                                                            value="0" 
                                                            formControlName="anterioridad" 
                                                            class="form-check-input" 
                                                            type="radio" 
                                                            >
                                                        <label class="form-check-label" for="reverseCheck1">
                                                            No
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col mb-3">
                                        <label class="form-label">*¿Considera que sea posible un nuevo préstamo al IECM?</label>
                                    </div>
                                    <div class="col">
                                        <div class="container text-center">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-check form-check-reverse">
                                                        <input 
                                                            value="1"
                                                            formControlName="prestamo"
                                                            style="border: 1px solid black;" 
                                                            class="form-check-input" 
                                                            type="radio">
                                                        <label class="form-check-label" for="reverseCheck1">
                                                            Si
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-check form-check-reverse">
                                                        <input 
                                                            value="0"
                                                            formControlName="prestamo"
                                                            style="border: 1px solid black;" 
                                                            class="form-check-input" 
                                                            type="radio">
                                                        <label class="form-check-label" for="reverseCheck1">
                                                            No
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label class="form-label">*Superficie aproximada en m2 del lugar o espacio</label>
                                    </div>
                                    <div class="col mb-3">
                                        <div class="container text-center">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div>
                                                        <input 
                                                            type="text"
                                                            formControlName="superficie_espacio"
                                                            class="form-control txt-input"
                                                            min="0"
                                                            max="1000"
                                                            inputmode="numeric" 
                                                        >
                                                    </div>
                                                    <div *ngIf="formularioRegistro?.get('superficie_espacio')?.errors && formularioRegistro?.get('superficie_espacio')?.touched" class="text-danger mt-1">
                                                        <div *ngIf="formularioRegistro?.get('superficie_espacio')?.errors?.['required']">Campo requerido</div>
                                                        <div *ngIf="formularioRegistro?.get('superficie_espacio')?.errors?.['max']">Máximo permitido: 1000</div>
                                                        <div *ngIf="formularioRegistro?.get('superficie_espacio')?.errors?.['pattern']">Solo se permiten números</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col mb-3">
                                        <label class="form-label">*Aforo (Capacidad de sillas, butacas o asientos)</label>
                                    </div>
                                    <div class="col">
                                        <div class="container text-center">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div>
                                                        <input 
                                                            min="0"
                                                            max="1000"
                                                            inputmode="numeric" 
                                                            type="text"
                                                            formControlName="aforo"
                                                            class="form-control txt-input"
                                                        >
                                                    </div>
                                                    <div *ngIf="formularioRegistro?.get('aforo')?.errors && formularioRegistro?.get('aforo')?.touched" class="text-danger mt-1">
                                                        <div *ngIf="formularioRegistro?.get('aforo')?.errors?.['required']">Campo requerido</div>
                                                        <div *ngIf="formularioRegistro?.get('aforo')?.errors?.['max']">Máximo permitido: 1000</div>
                                                        <div *ngIf="formularioRegistro?.get('aforo')?.errors?.['pattern']">Solo se permiten números</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label class="form-label">*Suficiente ventilación como medida preventiva Sanitaria</label>
                                    </div>
                                    <div class="col">
                                        <div class="container text-center">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-check form-check-reverse">
                                                        <input 
                                                            value="1"
                                                            formControlName="ventilacion"
                                                            style="border: 1px solid black;" 
                                                            class="form-check-input" 
                                                            type="radio">
                                                        <label class="form-check-label" for="reverseCheck1">
                                                            Si
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-check form-check-reverse">
                                                        <input 
                                                            value="0"
                                                            formControlName="ventilacion"
                                                            style="border: 1px solid black;" 
                                                            class="form-check-input" 
                                                            type="radio">
                                                        <label class="form-check-label" for="reverseCheck1">
                                                            No
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="container text-center mt-4">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label for="exampleFormControlTextarea1" class="form-label">Observaciones</label>
                                            <textarea 
                                                maxlength="200"
                                                formControlName="observaciones" style="resize: none;" rows="3" class="form-control" id="exampleFormControlTextarea1" ></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @if(!this.idRegistroC && this.moduloRegister === 2){
                                <div class="container text-center mt-4">
                                    <div class="row align-items-center">
                                        <div class="col-5">
                                            <button type="submit" [disabled]="formularioRegistro?.invalid" class="btn button-register">Registrar</button>
                                        </div>
                                        <div class="col-5">
                                            <button type="button" (click)="resetData()" class="btn button-clean">Cancelar</button>
                                        </div>
                                        <div class="col-2 d-flex justify-content-center">
                                            <i (click)="eliminaRegistro()" class="bi bi-trash3-fill fs-1 btn-trash"></i>
                                        </div>
                                    </div>
                                </div>
                            } @else {
                                <div class="container text-center" style="margin-top: 15px;">
                                    <div class="row">
                                        <div class="col-5">
                                            <button type="submit" [disabled]="formularioRegistro?.invalid" class="btn button-register">Registrar</button>
                                        </div>
                                        <div class="col-5">
                                            <button type="button" (click)="resetData()" class="btn button-clean">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>