<app-navbar></app-navbar>

<nav class="navbar bg-body-tertiary" style="display: inline;">
  <div class="container-fluid" style="padding: 0px;">
    <a class="navbar-brand">
      <div class="row row-cols-1">
        <div class="col">
          <div class="div-redondeado-right">
            <h3 style="font-size: 1rem; font-weight: bold; margin: 0px;">{{ position }}</h3>
          </div>
        </div>
        <div class="container div-redondeado-right-home text-center">
          <div class="row"> 
            <div class="col" style=" margin: -4px;">
              <i (click)="onValidateInfo()" class=" icon-home bi-house-door-fill"></i>
            </div>
            <div class="col">
              <h3 style="font-size: 12px; margin: 0px;">1.7 Registro de lugares de mayor afluencia <br> comunitaria</h3>
            </div>
          </div>
        </div>
      </div>
    </a>

    <div class="row row-cols-1">
        <div class="col">
            <button (click)="logout()" class="btn button-close div-redondeado-left-sesion">
                <h3 style="font-size: 0.9rem; margin: 0px;">{{ data.csesion }}</h3>
            </button>
        </div>

        <div class="col">
            <div class="div-redondeado-left">
              <h3 style="font-size: 0.8rem; margin: 0px;">{{ nombreUser }} <br> {{ cargoUser }}</h3>
            </div>
        </div>
    </div>
  </div>
</nav>

<div class="container justify-content-center mt-4">
  <div class="row">
    <div class="col-6 d-flex">
      <div class="box-search container justify-content-center">
        <label>Buscar:</label>
      </div>
      <input 
        type="text" 
        class="form-control" 
        name="searchTerm"
        [(ngModel)]="searchTerm"
        (input)="search()">
    </div>
    <div class="col-4 d-flex justify-content-end">
      <button 
        class="btn button"
        type="button"
        (click)="openModal(undefined)">Registrar un nuevo lugar</button>
    </div>
    <div class="col-2 d-flex justify-content-end">
      <button class="btn button" (click)="getReporte()">Genera y Descarga de Reporte</button>
    </div>
  </div>

  <div class="row back-table" style="margin-top: 8px;">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr class="table-primary">
            <th 
              scope="col"
              (click)="sortData('id_registro')"
              style="cursor: pointer;">
              <div style="display: flex; align-items: center; gap: 5px;">
                <span>No.</span>
                <i [ngClass]="getSortIcon('id_registro')"></i>
              </div>
            </th>
            <th scope="col">Editar</th>
            <th scope="col">Generar Bitácora</th>
            <th 
              scope="col"
              (click)="sortData('direccion_distrital')"
              style="cursor: pointer;">
              <div style="display: flex; align-items: center; gap: 5px;">
                <span>Dirección Distrital</span>
                <i [ngClass]="getSortIcon('direccion_distrital')"></i>
              </div>
            </th>
            <th 
              scope="col"
              (click)="sortData('distrito_cabecera')"
              style="cursor: pointer;">
              <div style="display: flex; align-items: center; gap: 5px;">
                <span>Organo Desconcentrado <br> Cabecera de Demarcación</span>
                <i [ngClass]="getSortIcon('distrito_cabecera')"></i>
              </div>
            </th>
            <th 
              scope="col"
              (click)="sortData('distrito_cabecera')"
              style="cursor: pointer;">
              <div style="display: flex; align-items: center; gap: 5px;">
                <span>Demarcación Territorial</span>
                <i [ngClass]="getSortIcon('distrito_cabecera')"></i>
              </div>
            </th>
            <th 
              scope="col"
              (click)="sortData('denominacion_lugar')"
              style="cursor: pointer;">
              <div style="display: flex; align-items: center; gap: 5px;">
                <span>Denominación del <br> Lugar</span>
                <i [ngClass]="getSortIcon('denominacion_lugar')"></i>
              </div>
            </th>
            <th 
              scope="col"
              (click)="sortData('domicilio_lugar')"
              style="cursor: pointer;">
              <div>
                <span>Domicilio del Lugar</span>
                <i style="margin-left: 5px;" [ngClass]="getSortIcon('domicilio_lugar')"></i>
              </div>
            </th>
            <th 
              scope="col"
              (click)="sortData('enlace_ubicacion')"
              style="cursor: pointer;">
              <div style="display: flex; align-items: center; gap: 5px;">
                <span>Ubicación <br> georreferenciada <br> (kml)</span>
                <i style="margin-left: 5px;" [ngClass]="getSortIcon('enlace_ubicacion')"></i>
              </div>
            </th>
            <th 
              scope="col"
              (click)="sortData('enlace_foto')"
              style="cursor: pointer;">
              <div style="display: flex; align-items: center; gap: 5px;">
                <span>Foto del lugar <br> (fachada e interior)</span>
                <i style="margin-left: 5px;" [ngClass]="getSortIcon('enlace_foto')"></i>
              </div>
            </th>
            <th 
              scope="col"
              (click)="sortData('observaciones')"
              style="cursor: pointer;">
              <div>
                <span>Observaciones</span>
                <i style="margin-left: 5px;" [ngClass]="getSortIcon('observaciones')"></i>
              </div>
            </th>
            <th 
              scope="col"
              (click)="sortData('fecha_registro')"
              style="cursor: pointer;">
              <div style="display: flex; align-items: center; gap: 5px;">
                <span>Fecha de <br> Registro</span>
                <i style="margin-left: 5px;" [ngClass]="getSortIcon('fecha_registro')"></i>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataTable; let i = index" class="dual-row">
            <td>{{ item.id_registro ? item.id_registro : '-'}}</td>
            <td> 
              <button 
                type="button" 
                class="btn button-table" 
                (click)="openModal(item.id_registro)"
              >
                <i class="bi bi-pencil-square"></i>
              </button>
            </td>
            <td>
              <i 
                (click)="goToBitacora(item.id_registro, 'mayorAfluencia')" 
                class="bi bi-journal-text"
                title="Ir a bitácora"
              ></i>
            </td>
            <td>{{ item.direccion_distrital ? item.direccion_distrital : '-'}}</td>
            <td>{{ item.distrito_cabecera ? item.distrito_cabecera : '-' }}</td>
            <td>{{ item.demarcacion_territorial ? item.demarcacion_territorial : '-' }}</td>
            <td>{{ item.denominacion_lugar ? item.denominacion_lugar : '-'}}</td>
            <td>{{ item.domicilio_lugar ? item.domicilio_lugar : '-'}}</td>      
            <td>
              <span *ngIf="item.enlace_ubicacion; else noFile" 
                    class="text-primary" 
                    style="cursor: pointer;"
                    (click)="descargar(item)">
                {{ item.nombre_archivo }}
              </span>
              <ng-template #noFile>-</ng-template>
            </td>
            <td>{{ item.enlace_foto ? item.enlace_foto : '-'}}</td>
            <td>{{ item.observaciones ? item.observaciones : '-'}}</td>
            <td>{{ formatFecha(item.fecha_registro) }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

@if(showModal) {
<app-formulario-comunitaria 
  [idRegistro]="idRegistroSeleccionado" 
  [isOpen]="showModal" 
  (close)="closeModal()">
</app-formulario-comunitaria>
}