.title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.login-card {
    padding: 30px;
    width: 100%;
    max-width: 400px;
    border-radius: 16px;
    margin: auto;
    margin-top: 106px;
    justify-content: center;
}

.button {
    color: #f4f4f4!important;
    background-color: #9B3BCA!important;
    width: 100%;
}
