<div class="modal show fade d-block" tabindex="-1" *ngIf="isOpen" (click)="onBackdropClick($event)" style="background: rgba(0,0,0,0.5);">
    <div class="modal-dialog" style="width: auto; max-width: 60%;" (click)="$event.stopPropagation()">
        <div class="modal-content" style="width: auto; height: auto;">
            <div class="modal-body">
                <div class="card card-size text-center fw-bold">
                    <div class="card-body">
                        <form [formGroup]="formularioRegistro!" (ngSubmit)="saveForm()">
                            <div class="container text-center">
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3">
                                        <label class="form-label">{{ labelTitle }}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="container text-center mt-4">
                                <div class="row">
                                    <div class="col">
                                        <label >Dirección Distrital</label>
                                    </div>
                                    <div class="col">
                                        <label>Organo Desconcentrado<br>Cabecera de Demarcación</label>
                                    </div>
                                    <div class="col">
                                        <label>Fecha de<br>Registro</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="form-label" style="color: #b7b5b8;">{{ area }}</label>
                                    </div>
                                    <div class="col">
                                    <label class="form-label" style="color: #b7b5b8;">
                                        {{ cabecera ?? '' }}
                                    </label>
                                    </div>
                                    <div class="col">
                                        <label class="form-label" style="color: #b7b5b8;" >{{ today }}</label>
                                    </div>
                                </div>
                            </div>

                            <div class="container text-center mt-4">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="mb-3">
                                            <label class="form-label">*Demarcación Territorial</label>
                                            <select 
                                                formControlName="demarcacion_territorial"
                                                class="select-input form-select" 
                                                aria-label="Default select example"
                                                [(ngModel)]="opcionDemarcacion"
                                                (change)="seccionDemarcacion()" 
                                            >
                                                <option selected></option>
                                                @for (item of catalogoDemarcacion; track item) {
                                                <option [value]="item.id">{{item.demarcacion_territorial}}</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="mb-3">
                                            <label class="form-label">*Denominación del Lugar</label>
                                            <input 
                                                maxlength="200"
                                                type="text"
                                                formControlName="denominacion_lugar"
                                                class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="form-label">*Domiclio del Lugar</label>
                                            <input 
                                                maxlength="200"
                                                type="text"
                                                formControlName="domicilio_lugar"
                                                class="form-control"
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="container text-center">
                                <div class="row align-items-start">
                                    <div class="col">
                                        <div class="container text-center">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="mb-5">
                                                    
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="mb-3">
                                                        <label class="col-sm-8 form-label" style="color: #b7b5b8;">*Foto del lugar <br>(fachada e interior)</label>
                                                        <input 
                                                            formControlName="flugar"
                                                            class="form-control" 
                                                            type="file" 
                                                            id="formFile">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="container text-center">
                                            <div class="row mb-3">
                                                <div class="col">
                                                    <div class="mb-3">
                                                        <label 
                                                            class="col-sm-8 form-label" 
                                                            style="color: #b7b5b8;">*Ubicación georreferenciada <br>(kml)
                                                        </label>
                                                    </div>

                                                    <div class="input-group">
                                                        <input
                                                            class="form-control"
                                                            type="file"
                                                            id="formFile"
                                                            (change)="onFileSelected($event)"
                                                            accept=".kml"
                                                            [disabled]="fileUploaded"
                                                            #fileInputRef
                                                        />
                                                        <button
                                                            *ngIf="fileUploaded"
                                                            type="button"
                                                            class="btn btn-outline-danger"
                                                            (click)="removeFile(fileInputRef)"
                                                        >
                                                        🗑️
                                                        </button>
                                                    </div>

                                                    <div *ngIf="infoUpdate?.enlace_ubicacion">
                                                    <small>Archivo actual: {{ infoUpdate.enlace_ubicacion }}</small>
                                                    </div>

                                                    
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="cols">
                                                    <div class="mb-3">
                                                        <label for="exampleFormControlTextarea1" class="form-label">Observaciones</label>
                                                        <textarea
                                                            maxlength="500" 
                                                            formControlName="observaciones" 
                                                            style="resize: none;" 
                                                            rows="3" 
                                                            class="form-control" 
                                                            id="exampleFormControlTextarea1" ></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="container text-center" style="margin-top: 15px;">
                                <div class="row">
                                <div class="col">
                                    <button type="submit" class="btn button-register">Registrar</button>
                                </div>
                                <div class="col">
                                    <button type="button" (click)="resetData()" class="btn button-clean">Cancelar</button>
                                </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>