<div class="modal show fade d-block" tabindex="-1" *ngIf="isOpen" style="background: rgba(0,0,0,0.5);">
    <div class="modal-dialog" style="width: auto; max-width: 73%;" (click)="$event.stopPropagation()">
        <div class="modal-content" style="width: auto; height: auto;">
            <div class="modal-body">
                <div class="card card-size text-center fw-bold">
                    <div class="card-body">
                        <form [formGroup]="formularioRegistro!" (ngSubmit)="saveForm()">
                            <div class="container text-center">
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3">
                                        <label class="form-label">Ficha técnica de la reunión de trabajo con instancias representativas y autoridades tradicionales <br> de forma previa a la realización de las asambleas comunitarias.</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="container text-center mt-4" style="align-items: start;">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="mb-3 d-flex align-items-center">
                                            <label style="text-align: end;" class="form-label me-4 mb-0">Demarcación Territorial:</label>
                                            <select 
                                                formControlName="demarcacion_territorial"
                                                class="select-input form-select" 
                                                aria-label="Default select example"
                                                (change)="seccionDemarcacion()"
                                                [(ngModel)]="opcionDemarcacion"
                                            >
                                                <option value="" disabled selected>Seleccione una opción</option>
                                                @for (item of catalogoDemarcacion; track item) {
                                                <option [value]="item.id">{{item.demarcacion_territorial}}</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-2"></div>
                                    <div class="col-4">
                                        <div class="mb-3 d-flex align-items-center">
                                            <label class="form-label me-2 mb-0">Fecha:</label>
                                  
                                            <input 
                                                id="startDate" 
                                                min="2025-01-01" 
                                                formControlName="fecha" 
                                                class="form-control input-fecha" 
                                                type="date" >
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="mb-3 d-flex align-items-center">
                                            <label style="text-align: end;" class="form-label me-2 mb-0">Dirección Distrital <br> Cabecera de Demarcación:</label>
                                           <input 
                                                type="text"
                                                formControlName="ddemarcacion"
                                                class="form-control input-d"
                                                [value]="cabecera ?? ''"
                                                readonly>
                                        </div>
                                    </div>
                                    <div class="col-2"></div>
                                    <div class="col-4"></div>
                                </div>
                            </div>

                            <div class="card card-size text-center fw-bold" style="border-radius: 0px; font-size: 14px;">
                                <div class="card-body">
                                    <div class="container text-center d-flex flex-column">
                                        <div class="row">
                                            <div class="col-2"></div>
                                            <div class="col-2 mt-auto">
                                                <label class="form-label me-2 mb-0">Fecha:</label>
                                            </div>
                                            <div class="col-2 mt-auto">
                                                <label class="form-label me-2 mb-0">Horario:</label>
                                            </div>
                                            <div class="col-2 mt-auto">
                                                <label class="form-label me-2 mb-0">Número <br> Estimado de <br> Asistentes:</label>
                                            </div>
                                            <div class="col-4 mt-auto">
                                                <label class="form-label me-2 mb-0">Lugar:</label>
                                            </div>
                                        </div>
                                        <div class="row mt-4">
                                            <div class="col-2">
                                                <label class="form-label me-2 mb-0">Reunión de trabajo con las <br> instancias representativas:</label>
                                            </div>
                                            <div class="col-2 mt-2">
                                                <input 
                                                    min="2025-01-01" 
                                                    formControlName="fechar" 
                                                    class="form-control input-d-card"
                                                    type="date"
                                                >
                                            </div>
                                            <div class="col-2 mt-2">
                                                <input 
                                                    type="time" 
                                                    formControlName="horarior" 
                                                    class="form-control input-d-card"
                                                >
                                            </div>
                                            <div class="col-2 mt-2">
                                                <input 
                                                    pattern="[0-9]*"
                                                    inputmode="numeric" 
                                                    oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                                                    formControlName="nasambler"
                                                    class="form-control input-d-card">
                                            </div>
                                            <div class="col-4 mt-2">
                                                <input 
                                                    type="text"
                                                    maxlength="200"
                                                    formControlName="lugarr"
                                                    class="form-control input-d-card">
                                            </div>
                                        </div>
                                        <div class="row mt-4">
                                            <div class="col-2">
                                                <label class="form-label me-2 mb-0">Asamblea Comunitaria <br> Informativa:</label>
                                            </div>
                                            <div class="col-2 mt-2">
                                                <input 
                                                    min="2025-01-01" 
                                                    formControlName="fechaa" 
                                                    class="form-control input-d-card"
                                                    type="date"
                                                >
                                            </div>
                                            <div class="col-2 mt-2">
                                                <input 
                                                    type="time" 
                                                    formControlName="horarioa" 
                                                    class="form-control input-d-card"
                                                >
                                            </div>
                                            <div class="col-2 mt-2">
                                                <input 
                                                    type="text"
                                                    pattern="[0-9]*"
                                                    inputmode="numeric" 
                                                    oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                                                    formControlName="nasambleaa"
                                                    class="form-control input-d-card">
                                            </div>
                                            <div class="col-4 mt-2">
                                                <input 
                                                    type="text"
                                                    maxlength="200"
                                                    formControlName="lugara"
                                                    class="form-control input-d-card">
                                            </div>
                                        </div>
                                        <div class="row mt-4">
                                            <div class="col-2">
                                                <label class="form-label me-2 mb-0">Asamblea Comunitaria <br> Consultiva:</label>
                                            </div>
                                            <div class="col-2 mt-2">
                                                <input 
                                                    min="2025-01-01" 
                                                    formControlName="fechaaa" 
                                                    class="form-control input-d-card"
                                                    type="date"
                                                >
                                            </div>
                                            <div class="col-2 mt-2">
                                                <input 
                                                    type="time" 
                                                    formControlName="horarioaa" 
                                                    class="form-control input-d-card"
                                                >
                                            </div>
                                            <div class="col-2 mt-2">
                                                <input 
                                                    type="text"
                                                    pattern="[0-9]*"
                                                    inputmode="numeric" 
                                                    oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                                                    formControlName="nasambleaaa"
                                                    class="form-control input-d-card">
                                            </div>
                                            <div class="col-4 mt-2">
                                                <input 
                                                    type="text"
                                                    maxlength="200"
                                                    formControlName="lugaraa"
                                                    class="form-control input-d-card">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="container text-center mt-4">
                                        <div class="row align-items-center">
                                            <div class="col-4">
                                                <label class="form-label text-end">
                                                    Periodo en que las instancias <br> 
                                                    representativas formularán <br> 
                                                    observaciones y/o propuestas:
                                                </label>
                                            </div>

                                            <div class="col-2">
                                                <div class="container text-center">
                                                    <div class="row row-cols-1">
                                                        <div class="col">
                                                            <label class="form-label">del</label>
                                                        </div>
                                                        <div class="col">
                                                            <input 
                                                                min="2025-01-01" 
                                                                style="border-radius: 25px;"
                                                                formControlName="defecha" 
                                                                class="form-control input-d-card"
                                                                type="date"
                                                            >
                                                        </div>
                                                        <div class="col">
                                                            <label class="form-label">al</label>
                                                        </div>
                                                        <div class="col">

                                                            <input 
                                                                min="2025-01-01" 
                                                                style="border-radius: 25px;"
                                                                formControlName="afecha" 
                                                                class="form-control input-d-card"
                                                                type="date"
                                                            >
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-4">
                                            <label class="form-label text-end">
                                                Número de lugares públicos de mayor afluencia de <br> 
                                                la población de los pueblos y barrios y comunidades <br> 
                                                indígenas residentes en la Demarcación:
                                            </label>
                                            </div>

                                            <div class="col-2">
                                            <input
                                                style="height: 100%; border-radius: 25px;"
                                                type="text"
                                                pattern="[0-9]*"
                                                inputmode="numeric" 
                                                oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                                                formControlName="nlugares"
                                                class="form-control input-d-card">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="container text-center mt-4">
                                <div class="row">
                                    <div class="col-4">
                                        <div style="border: 1px black solid;">
                                            <label class="form-label">Documento</label>
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <div style="border: 1px black solid;">
                                            @if(formId === 1){
                                                <label class="form-label">Traducción en lengua indígena</label>
                                            }
                                            <label class="form-label">Traducción de lengua</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @if(formId === 2) {
                                <div class="container text-center mt-4 mb-4">
                                    <div class="row">
                                        <div class="col-4">
                                            <div>
                                                <label class="form-label">Plan de trabajo para la instrumentación <br> de la consulta Afromexicana 2025</label>

                                            </div>
                                        </div>
                                        <div class="col-8">
                                            <div>
                                                <input 
                                                    maxlength="200"
                                                    type="text"
                                                    formControlName="pafromexicana"
                                                    class="form-control input-d-card">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <div>
                                                <label class="form-label">Resumen del Acta de la(s) reunion(es) <br> con las Instancias Representativas</label>
                                            </div>
                                        </div>
                                        <div class="col-8">
                                            <div>
                                                <input
                                                    maxlength="200" 
                                                    type="text"
                                                    formControlName="rrepresentativas"
                                                    class="form-control input-d-card">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                            @if(formId === 1) {
                            <div class="container text-center mt-4 mb-4">
                                <div class="row">
                                    <div class="col-4">
                                        <div>
                                            <label style="text-align: end;" class="form-label">Plan de trabajo para la instrumentación <br> de la consulta indígena 2025</label>
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <div class="container text-center">
                                            <div class="row">
                                                <div class="col">
                                                    <input 
                                                        type="checkbox" 
                                                        class="btn-check" 
                                                        id="btn-check-a"
                                                        [value]="'1'" 
                                                        data-group="lengua_tecnica_indigena"
                                                        [disabled]="checksDisabled"
                                                        (change)="onCheckboxChange($event, 'lengua_tecnica_indigena')"
                                                        autocomplete="off">
                                                    <label class="btn btn-toggle" for="btn-check-a">Náhuatl</label>
                                                </div>
                                                <div class="col">
                                                    <input 
                                                        type="checkbox" 
                                                        class="btn-check" 
                                                        id="btn-check-b" 
                                                        [value]="'2'" 
                                                        data-group="lengua_tecnica_indigena"
                                                        [disabled]="checksDisabled"
                                                        (change)="onCheckboxChange($event, 'lengua_tecnica_indigena')"
                                                        autocomplete="off">
                                                    <label class="btn btn-toggle" for="btn-check-b">Mazteco</label>
                                                </div>
                                                <div class="col">
                                                    <input 
                                                        type="checkbox" 
                                                        class="btn-check" 
                                                        id="btn-check-c" 
                                                        [value]="'3'" 
                                                        data-group="lengua_tecnica_indigena"
                                                        [disabled]="checksDisabled"
                                                        (change)="onCheckboxChange($event, 'lengua_tecnica_indigena')"
                                                        autocomplete="off">
                                                    <label class="btn btn-toggle" for="btn-check-c">Mixteco</label>
                                                </div>
                                                <div class="col">
                                                    <input 
                                                        type="checkbox" 
                                                        class="btn-check" 
                                                        id="btn-check-d"
                                                        [value]="'4'" 
                                                        data-group="lengua_tecnica_indigena"
                                                        [disabled]="checksDisabled"
                                                        (change)="onCheckboxChange($event, 'lengua_tecnica_indigena')" 
                                                        autocomplete="off">
                                                    <label class="btn btn-toggle" for="btn-check-d">Otomí</label>
                                                </div>
                                                <div class="col">
                                                    <input 
                                                        type="checkbox" 
                                                        class="btn-check" 
                                                        id="btn-check-e" 
                                                        [value]="'5'" 
                                                        data-group="lengua_tecnica_indigena"
                                                        [disabled]="checksDisabled"
                                                        (change)="onCheckboxChange($event, 'lengua_tecnica_indigena')"
                                                        autocomplete="off">
                                                    <label class="btn btn-toggle" for="btn-check-e">Mazahua</label>
                                                </div>
                                                <div class="col">
                                                    <input 
                                                        type="checkbox" 
                                                        class="btn-check" 
                                                        id="btn-check-f" 
                                                        [value]="'6'" 
                                                        data-group="lengua_tecnica_indigena"
                                                        [disabled]="checksDisabled"
                                                        (change)="onCheckboxChange($event, 'lengua_tecnica_indigena')"
                                                        autocomplete="off">
                                                    <label class="btn btn-toggle" for="btn-check-f">Zapoteco</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row justify-content-center mb-4">
                                    <div class="col-auto d-flex align-items-center mt-2">
                                        <label class="form-label me-2 mb-0">Otro</label>
                                        <input 
                                            maxlength="200"
                                            type="text"
                                            formControlName="otroPlanTrabajo"
                                            class="form-control input-d-card">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-4">
                                        <div>
                                            <label style="text-align: end;" class="form-label">Resumen del Acta de la(s) reunion(es) <br> con las Instancias Representativas</label>
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <div class="container text-center">
                                            <div class="row">
                                                <div class="col">
                                                    <input 
                                                        type="checkbox" 
                                                        class="btn-check" 
                                                        id="btn-check-g" 
                                                        [value]="'1'" 
                                                        data-group="traduccion_resumen_acta"
                                                        [disabled]="checksDisabled"
                                                        (change)="onCheckboxChange($event, 'traduccion_resumen_acta')"
                                                        autocomplete="off">
                                                    <label class="btn btn-toggle" for="btn-check-g">Náhuatl</label>
                                                </div>
                                                <div class="col">
                                                    <input 
                                                        type="checkbox" 
                                                        class="btn-check" 
                                                        id="btn-check-h" 
                                                        [value]="'2'" 
                                                        data-group="traduccion_resumen_acta"
                                                        [disabled]="checksDisabled"
                                                        (change)="onCheckboxChange($event, 'traduccion_resumen_acta')"
                                                        autocomplete="off">
                                                    <label class="btn btn-toggle" for="btn-check-h">Mazteco</label>
                                                </div>
                                                <div class="col">
                                                    <input 
                                                        type="checkbox" 
                                                        class="btn-check" 
                                                        id="btn-check-i" 
                                                        [value]="'3'" 
                                                        data-group="traduccion_resumen_acta"
                                                        [disabled]="checksDisabled"
                                                        (change)="onCheckboxChange($event, 'traduccion_resumen_acta')"
                                                        autocomplete="off">
                                                    <label class="btn btn-toggle" for="btn-check-i">Mixteco</label>
                                                </div>
                                                <div class="col">
                                                    <input 
                                                        type="checkbox" 
                                                        class="btn-check" 
                                                        id="btn-check-j" 
                                                        [value]="'4'" 
                                                        data-group="traduccion_resumen_acta"
                                                        [disabled]="checksDisabled"
                                                        (change)="onCheckboxChange($event, 'traduccion_resumen_acta')"
                                                        autocomplete="off">
                                                    <label class="btn btn-toggle" for="btn-check-j">Otomí</label>
                                                </div>
                                                <div class="col">
                                                    <input 
                                                        type="checkbox" 
                                                        class="btn-check" 
                                                        id="btn-check-k" 
                                                        [value]="'5'" 
                                                        data-group="traduccion_resumen_acta"
                                                        [disabled]="checksDisabled"
                                                        (change)="onCheckboxChange($event, 'traduccion_resumen_acta')"
                                                        autocomplete="off">
                                                    <label class="btn btn-toggle" for="btn-check-k">Mazahua</label>
                                                </div>
                                                <div class="col">
                                                    <input 
                                                        type="checkbox" 
                                                        class="btn-check" 
                                                        id="btn-check-l" 
                                                        [value]="'6'" 
                                                        data-group="traduccion_resumen_acta"
                                                        [disabled]="checksDisabled"
                                                        (change)="onCheckboxChange($event, 'traduccion_resumen_acta')"
                                                        autocomplete="off">
                                                    <label class="btn btn-toggle" for="btn-check-l">Zapoteco</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row justify-content-center mb-4">
                                    <div class="col-auto d-flex align-items-center mt-2">
                                        <label class="form-label me-2 mb-0">Otro</label>
                                        <input 
                                            maxlength="200"
                                            type="text"
                                            formControlName="otroResumenActa"
                                            class="form-control input-d-card">
                                    </div>
                                </div>
                            </div>
                            }

                            <div class="container text-start">
                                <div class="col-12">
                                    <label class="form-label">Persona responsable de proporcionar orientación y asesoría en las sedes de las Direcciones distritales</label>
                                </div>
                            </div>

                            <div class="card card-size text-center fw-bold card-wrapper" style="border-radius: 0px; font-size: 14px;">
                                <div class="card-body">
                                    <div formArrayName="direccionesDistritales" class="container text-center">
                                        <div  *ngFor="let control of direccionesDistritales.controls; let i = index" class="row align-items-center mb-2">
                                            <div class="col-1">
                                                <div class="row row-cols-1">
                                                    <div class="col">
                                                        <button 
                                                            *ngIf="i === 0"
                                                            [disabled]="checksDisabled"
                                                            (click)="addInput()" 
                                                            type="button" 
                                                            class="button-add btn btn-sm btn-success add-btn">
                                                            +
                                                        </button>
                                                    </div>
                                                    <div class="col">
                                                        <button 
                                                            *ngIf="i > 0"
                                                            [disabled]="checksDisabled"
                                                            (click)="removeInput(i)"
                                                            type="button" 
                                                            class="button-add btn btn-sm btn-danger remove-btn">
                                                            -
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <label class="form-label text-align-end">Dirección Distrital <br> Cabecera de demarcación:</label>
                                            </div>
                                            <div class="col-7">
                                                <input 
                                                    style="border-radius: 25px;"
                                                    type="text"
                                                    maxlength="200"
                                                    class="form-control input-d-card"
                                                    [disabled]="checksDisabled"
                                                    [formControlName]="i"> 
                                            </div>
                                        </div>
                                    </div>

                                    <div formArrayName="direccionesDistritale" class="container text-center">
                                        <div  *ngFor="let control of direccionesDistritale.controls; let i = index" class="row align-items-center mb-2">
                                            <div class="col-1">
                                                <div class="row row-cols-1">
                                                    <div class="col">
                                                        <button 
                                                            *ngIf="i === 0"
                                                            (click)="addInputD()" 
                                                            [disabled]="checksDisabled"
                                                            type="button" 
                                                            class="button-add btn btn-sm btn-success add-btn">
                                                            +
                                                        </button>
                                                    </div>
                                                    <div class="col">
                                                        <button 
                                                            *ngIf="i > 0"
                                                            (click)="removeInputD(i)"
                                                            [disabled]="checksDisabled"
                                                            type="button" 
                                                            class="button-add btn btn-sm btn-danger remove-btn">
                                                            -
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <label class="form-label text-align-end">Dirección Distrital:</label>
                                            </div>
                                            <div class="col-7">
                                                <input 
                                                    style="border-radius: 25px;"
                                                    type="text"
                                                    maxlength="200"
                                                    class="form-control input-d-card"
                                                    [disabled]="checksDisabled"
                                                    [formControlName]="i"> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="container text-center mt-5 mb-3">
                                <div class="row">
                                    <div class="col-7 d-flex align-items-center justify-content-center">
                                        <label class="form-label mb-0 me-3 text-end" style="white-space: nowrap;">
                                            ¿Se solicitaron cambios en <br> el orden del día?
                                        </label>

                                        <div class="d-flex justify-content-center align-items-center">
                                            <div class="form-check me-4 d-flex align-items-center">
                                                <input 
                                                    id="radioSi"
                                                    style="border: 1px solid black; width: 19px; height: 19px;" 
                                                    value="1" 
                                                    class="form-check-input"
                                                    formControlName="cammbiosOrdenDia"
                                                    [(ngModel)]="cammbiosOrdenDia"
                                                    type="radio">
                                                <label class="form-check-label ms-1" for="radioSi">Sí</label>
                                            </div>
                                            <div class="form-check d-flex align-items-center">
                                                <input 
                                                    id="radioNo"
                                                    style="border: 1px solid black; width: 19px; height: 19px;" 
                                                    value="0" 
                                                    formControlName="cammbiosOrdenDia"
                                                    [(ngModel)]="cammbiosOrdenDia"
                                                    class="form-check-input" 
                                                    type="radio">
                                                <label class="form-check-label ms-1" for="radioNo">No</label>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    @if(cammbiosOrdenDia == 1) {
                                        <div class="col-5">
                                            <div class="mb-3">
                                                <label for="exampleFormControlTextarea1" class="form-label">¿Cuáles?</label>
                                                <textarea 
                                                    formControlName="cuales" 
                                                    style="resize: none;" 
                                                    rows="3"
                                                    maxlength="500" 
                                                    class="form-control" 
                                                    id="exampleFormControlTextarea1"
                                                    >
                                                </textarea>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>

                            <div class="container text-center">
                                <div class="col">
                                    <div class="mb-3">
                                        <label for="exampleFormControlTextarea1" class="form-label">Observaciones</label>
                                        <textarea 
                                            formControlName="observaciones" 
                                            style="resize: none;" 
                                            rows="3"
                                            maxlength="500" 
                                            class="form-control" 
                                            id="exampleFormControlTextarea1">
                                        </textarea>
                                    </div>
                                </div>
                            </div>

                                <div class="container text-center" style="margin-top: 15px;">
                                    <div class="row">
                                    <div class="col">
                                        <button type="submit" [disabled]="idRegistroC === false || formularioRegistro?.invalid" class="btn button-register">Guardar</button>
                                    </div>
                                    <div class="col">
                                        <button type="button" (click)="resetData()" class="btn button-clean">Cancelar</button>
                                    </div>
                                    </div>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>