<app-navbar></app-navbar>

<nav class="navbar bg-body-tertiary" style="display: inline;">
  <div class="container-fluid" style="padding: 0px;">
    <a class="navbar-brand">
      <div class="row row-cols-1">
        <div class="col">
          <div class="div-redondeado-right">
            <h3 style="font-size: 1rem; font-weight: bold; margin: 0px;">{{ position }}</h3>
          </div>
        </div>
        <div class="container div-redondeado-right-home text-center">
          <div class="row"> 
            <div class="col" style=" margin: -4px;">
              <i (click)="onValidateInfo()" class=" icon-home bi-house-door-fill"></i>
            </div>
            <div class="col">
              <h3 style="font-size: 12px; margin: 0px;">2.9 Reporte de la atención distrital a <br> consultas</h3>
            </div>
          </div>
        </div>
      </div>
    </a>

    <div class="row row-cols-1">
        <div class="col">
            <button (click)="logout()" class="btn button-close div-redondeado-left-sesion">
                <h3 style="font-size: 0.9rem; margin: 0px;">{{ data.csesion }}</h3>
            </button>
        </div>

        <div class="col">
            <div class="div-redondeado-left">
              <h3 style="font-size: 0.8rem; margin: 0px;">{{ nombreUser }} <br> {{ cargoUser }}</h3>
            </div>
        </div>
    </div>
  </div>
</nav>

<div class="container justify-content-center mt-4">
  <div class="row">
    <div class="col-6 d-flex">
      <div class="box-search container justify-content-center">
        <label>Buscar:</label>
      </div>
      <input 
        type="text" 
        class="form-control input-search" [(ngModel)]="searchTerm" (input)="search()"  name="searchTerm" >
    </div>
    <div class="col-6 d-flex justify-content-end">
        <button class="btn button" (click)="getReporte()">Genera y Descarga de Reporte</button>
    </div>
  </div>

  <div class="row back-table" style="margin-top: 8px;">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr class="table-primary">
            <th scope="col">No.</th>
            <th scope="col">Visualizar</th>
            <th scope="col">No se presentó <br> el caso</th>
            <th 
              scope="col"
              (click)="sortData('numero_consecutivo')"
              style="cursor: pointer;">
              <div>
                <span>Número consecutivo <br> de Consulta</span>
                <i style="margin-left: 5px;" [ngClass]="getSortIcon('numero_consecutivo')"></i>
              </div>
            </th>
            <th 
              scope="col"
              (click)="sortData('fecha_consulta')"
              style="cursor: pointer;">
              <div style="display: flex; align-items: center; gap: 5px;">
                <span>Fecha de la <br> Consulta</span>
                <i style="margin-left: 5px;" [ngClass]="getSortIcon('fecha_consulta')"></i>
              </div>
            </th>
            <th 
              scope="col"
              (click)="sortData('nombre_completo')"
              style="cursor: pointer;">
              <div style="display: flex; align-items: center; gap: 5px;">
                <span>Nombre Completo</span>
                <i style="margin-left: 5px;" [ngClass]="getSortIcon('nombre_completo')"></i>
              </div>
            </th>
            <th 
              scope="col"
              (click)="sortData('pueblo_originario')"
              style="cursor: pointer;">
              <div style="display: flex; align-items: center; gap: 5px;">
                <span>Pueblo Originario</span>
                <i style="margin-left: 5px;" [ngClass]="getSortIcon('pueblo_originario')"></i>
              </div>
            </th>
            <th 
              scope="col"
              (click)="sortData('pueblo')"
              style="cursor: pointer;">
              <div style="display: flex; align-items: center; gap: 5px;">
                <span>Pueblo</span>
                <i style="margin-left: 5px;" [ngClass]="getSortIcon('pueblo')"></i>
              </div>
            </th>
            <th 
              scope="col"
              (click)="sortData('barrio')"
              style="cursor: pointer;">
              <div style="display: flex; align-items: center; gap: 5px;">
                <span>Barrio</span>
                <i style="margin-left: 5px;" [ngClass]="getSortIcon('barrio')"></i>
              </div>
            </th>
            <th 
              scope="col"
              (click)="sortData('nporiginario')"
              style="cursor: pointer;">
              <div style="display: flex; align-items: center; gap: 5px;">
                <span>Unidad Territorial</span>
                <i style="margin-left: 5px;" [ngClass]="getSortIcon('nporiginario')"></i>
              </div>
            </th>
            <th 
              scope="col"
              (click)="sortData('otro')"
              style="cursor: pointer;">
              <div style="display: flex; align-items: center; gap: 5px;">
                <span>Otro</span>
                <i style="margin-left: 5px;" [ngClass]="getSortIcon('otro')"></i>
              </div>
            </th>
            <th 
              scope="col"(click)="sortData('cargo')"
              style="cursor: pointer;">
              <div style="display: flex; align-items: center; gap: 5px;">
                <span>Cargo que ocupa</span>
                <i style="margin-left: 5px;" [ngClass]="getSortIcon('cargo')"></i>
              </div>
            </th>
            <th 
              scope="col"
              (click)="sortData('descripcion_consulta')"
              style="cursor: pointer;">
              <div style="display: flex; align-items: center; gap: 5px;">
                <span>Describe la consulta</span>
                <i style="margin-left: 5px;" [ngClass]="getSortIcon('descripcion_consulta')"></i>
              </div>
            </th>
            <th 
              scope="col"
              (click)="sortData('forma_atendio')"
              style="cursor: pointer;">
              <div style="display: flex; align-items: center; gap: 5px;">
                <span>Forma en la <br> que se antendió <br> la consulta</span>
                <i style="margin-left: 5px;" [ngClass]="getSortIcon('forma_atendio')"></i>
              </div>
            </th>
            <th scope="col">Observaciones y/o precisiones</th>
            <th scope="col">Solicitudes y/o <br> documentos</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataTable; let i = index" class="dual-row">
            <td>
              <input 
                style="width: 11px; height: 11px;" 
                class="form-check-input" 
                type="checkbox" 
                value="{{ item.id_registro }}" 
                (change)="selectRow(item.id_registro, $event)"
                id="checkDefault">
            </td>
            <td> 
              <button 
                type="button" 
                class="btn button-table"
                (click)="openModal(item.id_registro)"
              >
                <i class="bi bi-journal-text"></i>
              </button>
            </td>
            <td>{{ item.presento_caso === false ? 'No' : 'Si'}}</td>
            <td>{{ item.numero_consecutivo ? item.numero_consecutivo : '-'}}</td>
            <td>{{ formatFecha(item.fecha_consulta)}}</td>
            <td>{{ item.nombre_completo }}</td>
            <td>{{ item.pueblo_originario ? item.pueblo_originario : '-'}}</td>
            <td>{{ item.pueblo ? item.pueblo : '-'}}</td>
            <td>{{ item.barrio ? item.barrio : '-'}}</td>
            <td>{{ item.ut ? item.ut : '-'}}</td>
            <td>{{ item.otro ? item.otro : '-'}}</td>  
            <td>{{ item.cargo ? item.cargo : '-'}}</td>
            <td>{{ item.descripcion_consulta ? item.descripcion_consulta : '-'}}</td>
            <td>{{ item.forma_atendio ? item.forma_atendio : '-'}}</td>
            <td>{{ item.observaciones ? item.observaciones : '-'}}</td>
            <td><span *ngIf="item.nombre_archivo" 
                    class="text-primary" 
                    style="cursor: pointer;"
                    (click)="descargar2(item)">
                {{ item.nombre_archivo }}
              </span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

@if(showModal) {
  <app-formulario-consultas
    [idRegistro]="idRegistroSeleccionado" 
    [isOpen]="showModal" 
    (close)="closeModal()">
  </app-formulario-consultas>
}