
.login-card {
    padding: 30px;
    background-color: transparent;
    border: none;
}

.btn.cerrar {
    color: #f4f4f4!important;
    background-color: #FBB03B!important;
}

.inline-icon {
    width: 20px;
    margin-right: 10px;
}

.div-redondeado-right {
    padding: 20px;
    width: 230px;
    height: 4px;
    color: #f4f4f4!important;
    background-color: #9B3BCA!important;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
}

.div-redondeado-left {
    padding: 20px;
    width: 300px;
    height: 10px;
    color: #f4f4f4!important;
    background-color: transparent;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: auto;
    display: flex;
    justify-content: right;
    align-items: center;
    font-family: Arial, sans-serif;
    font-style: italic;
    text-align: right;
}

.div-redondeado-left-sesion {
    padding: 13px;
    width: 266px;
    height: 1px;
    color: #f4f4f4!important;
    background-color: #FBB03B!important;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-style: italic;
}

.div-redondeado-right-home {
    margin: 0px;
    padding: 26px;
    width: 680px;
    height: 1px;
    color: #f4f4f4!important;
    background-color: #BF90DD!important;
    border-top-right-radius: 26px;
    border-bottom-right-radius: 26px;
    display: flex;
    justify-content: right;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7pt;
}

.title-menu{
    cursor: pointer;
    white-space: normal;
    overflow-wrap: break-word;
    margin: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
}

.button-close {
    border-color: transparent;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.icon-home {
    font-size: 20px;
    margin-right: 10px;
    vertical-align: middle;
    cursor: pointer;
}

.card-size {
    margin-left: 20%;
    padding: 30px;
    width: 60%;
    height: auto;
    border: 1px solid black;
    margin-top: 15px;
    border-radius: 26px;
}

input {
    text-align: center;
    height: 37px;
    border-radius: 15px;
    border: 1px solid black;
} 

.select-input {
    height: 37px;
    border-radius: 15px;
    border: 1px solid black;
    align-items: center;
    text-align: center;
}

.button-clean {
    width: 50%;
    height: 38px;
    border-radius: 15px;
    background-color: #9B3BCA!important;
    color: black!important;
    font-weight: bold;
}

.button-register {
    width: 50%;
    height: 38px;
    border-radius: 15px;
    background-color: #FBB03B!important;
    color: black!important;
    font-weight: bold;
}

.button-register-c {
    width: 78%;
    height: 26px;
    border-radius: 15px;
    background-color: #FBB03B !important;
    color: black !important;
    font-weight: bold;
    padding: 0px;
}