<div class="modal show fade d-block" tabindex="-1" *ngIf="isOpen" (click)="onBackdropClick($event)" style="background: rgba(0,0,0,0.5);">
    <div class="modal-dialog" style="width: auto; max-width: 60%;" (click)="$event.stopPropagation()">
        <div class="modal-content" style="width: auto; height: auto;">
            <div class="modal-body">
                <div class="card card-size text-center fw-bold">
                    <div class="card-body">
                        <form [formGroup]="formularioRegistro!" (ngSubmit)="saveForm()">
                            <div class="container text-center">
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3">
                                        <label class="form-label">{{ labelTitle }}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="container text-center mb-5">
                                <div class="row">
                                    <div class="col">
                                        <label class="form-label">Dirección Distrital</label> <br>
                                        <label class="form-label" style="color: #b7b5b8;" >{{ area }}</label>
                                    </div>
                                    <div class="col">
                                        <div>
                                            <label class="form-label">*Número de Reporte:</label>
                                            <select 
                                                formControlName="nreporte"
                                                class="select-input form-select" 
                                                aria-label="Default select example"
                                            >
                                                <option value="" disabled selected>Seleccione una opción</option>
                                                @for (item of catalogoReporte; track item) {
                                                <option [value]="item.id">{{item.numero_reporte}}</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div>
                                            <label class="form-label">*Fecha y periodo:</label>
                                            <select 
                                                formControlName="fyperiodo"
                                                class="select-input form-select" 
                                                aria-label="Default select example"
                                            >
                                                <option value="" disabled selected>Seleccione una opción</option>
                                                @for (item of catalogoFecha; track item) {
                                                <option [value]="item.id">{{item.numero_reporte}}</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="container text-center mt-4">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-check">
                                            <input 
                                                class="form-check-input" 
                                                type="checkbox" 
                                                id="checkDefault"
                                                formControlName="presento_caso"
                                                [checked]="formularioRegistro?.get('presento_caso')?.value === 1"
                                                (change)="onCheckboxChange($event)">
                                            <label class="form-check-label" for="checkDefault">
                                                No se presentó el caso
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <label class="form-label">Número consecutivo de Consulta:</label>
                                            <input 
                                                type="text"
                                                formControlName="consecutivo"
                                                [(ngModel)]="idConsecutivo"
                                                class="form-control txt-input">
                                    </div>
                                    <div class="col-4">
                                        <label class="form-label">*Fecha de la consulta:</label>
                                        <input 
                                            min="2025-01-01" 
                                            formControlName="fconsulta" 
                                            class="txt-input form-control" 
                                            type="date" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 text-start">
                                    <div class="mb-3">
                                        <label class="form-label">*Nombre Completo</label>
                                        <input 
                                            maxlength="200"
                                            type="text"
                                            formControlName="ncompleto"
                                            class="form-control txt-input"
                                        >
                                    </div>
                                </div>
                            </div>

                            <div class="container text-center">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="mb-3">
                                            <label class="form-label">*Pueblo Originario:</label>
                                            <select 
                                                formControlName="ooriginario" 
                                                class="select-input form-select" 
                                                aria-label="Default select example"
                                                [(ngModel)]="opcionPuebloOriginario"
                                                (change)="onChangePuebloOriginario();"
                                            >
                                                <option value="" disabled selected>Seleccione una opción</option>
                                                @for (item of catalogoPueblor; track item) {
                                                <option [value]="item.id">{{item.pueblo_originario}}</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="mb-3">
                                            <label class="form-label">*Pueblo:</label>
                                            <select 
                                                formControlName="pueblo" 
                                                class="select-input form-select" 
                                                aria-label="Default select example"
                                                [(ngModel)]="opcionPueblo"
                                                (change)="onChangePueblo()"
                                            >
                                                <option value="" disabled selected>Seleccione una opción</option>
                                                @for (item of catalogoPueblos; track item) {
                                                <option [value]="item.id">{{item.pueblo}}</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="mb-3">
                                            <label class="form-label">*Barrio:</label>
                                            <select 
                                                formControlName="barrio" 
                                                class="select-input form-select" 
                                                aria-label="Default select example"
                                                [(ngModel)]="opcionBarrio"
                                                (change)="onChangeBarrio()"
                                            >
                                                <option value="" disabled selected>Seleccione una opción</option>
                                                @for (item of catalogoBarrios; track item) {
                                                <option [value]="item.id">{{item.barrio}}</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="container text-center">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="mb-3">
                                            <label class="form-label">*Unidad Territorial:</label>
                                            <select 
                                                formControlName="uterritorial" 
                                                class="select-input form-select" 
                                                aria-label="Default select example"
                                                [(ngModel)]="opcionUnidadTerritorial"
                                                (change)="onChangeUnidadTerritorial()"
                                            >
                                                <option value="" disabled selected>Seleccione una opción</option>
                                                @for (item of catalogoUnidadTerritorial; track item) {
                                                <option [value]="item.id">{{item.ut}}</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="mb-3">
                                            <label class="form-label">Otro:</label>
                                            <input 
                                                maxlength="200"
                                                formControlName="otro"
                                                type="text" 
                                                class="form-control txt-input"
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row text-start">
                                <div class="col-12">
                                    <div class="mb-3">
                                        <label class="form-label">Cargo que ocupa:</label>
                                        <input 
                                            type="text"
                                            maxlength="200"
                                            formControlName="cargo"
                                            class="form-control txt-input"
                                        >
                                    </div>
                                </div>
                            </div>
                                    
                            <div class="container text-start mt-4">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label for="exampleFormControlTextarea1" class="form-label">Describa la consulta:</label>
                                            <textarea 
                                                formControlName="consulta" 
                                                maxlength="500"
                                                style="resize: none;" rows="3" class="form-control" id="exampleFormControlTextarea1" ></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="container text-start mt-4">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label for="exampleFormControlTextarea1" class="form-label">Forma en la que se atendió la consulta:</label>
                                            <textarea 
                                                maxlength="500"
                                                formControlName="forma" style="resize: none;" rows="3" class="form-control" id="exampleFormControlTextarea1" ></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="container text-center">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="mb-3">
                                            <label for="exampleFormControlTextarea1" class="form-label">Observaciones y/o precisiones:</label>
                                            <textarea 
                                                maxlength="500"formControlName="observaciones" style="resize: none;" rows="3" class="form-control" id="exampleFormControlTextarea1" ></textarea>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="mb-3 position-relative">
                                            <label class="col-sm-8 form-label" style="color: #b7b5b8;">*Este campo se habilitará cuando <br> lo determine la DEOEyG</label>
                                            <div class="d-flex align-items-center">
                                            <input
                                                class="form-control"
                                                type="file"
                                                id="formFile"
                                                (change)="onFileSelect($event, 'zip')"
                                                accept=".zip"
                                            />

                                            <button 
                                                *ngIf="fileUploaded || infoUpdate?.enlace_documento" 
                                                type="button" 
                                                class="btn btn-outline-danger ms-2"
                                                (click)="removeFile()"
                                                title="Eliminar archivo">
                                                <i class="bi bi-trash"></i>
                                            </button>
                                            </div>
                                        </div>
                                        <div *ngIf="infoUpdate?.enlace_documento ">
                                            <small>Archivo actual: {{ infoUpdate?.enlace_documento }}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @if(!this.idRegistroC && moduloRegister == 2) {
                                <div class="container text-center mt-4">
                                    <div class="row align-items-center">
                                        <div class="col-5">
                                            <button type="submit" [disabled]="formularioRegistro?.invalid || moduloRegister === 2" class="btn button-register">Guardar</button>
                                        </div>
                                        <div class="col-5">
                                            <button type="button" [disabled]="moduloRegister === 2" (click)="resetData()" class="btn button-clean">Cancelar</button>
                                        </div>
                                        <div class="col-2 d-flex justify-content-center">
                                            <i (click)="eliminaRegistro()" class="bi bi-trash3-fill fs-1 btn-trash"></i>
                                        </div>
                                    </div>
                                </div>
                            } @else {
                                <div class="container text-center" style="margin-top: 15px;">
                                    <div class="row">
                                        <div class="col">
                                            <button type="submit" [disabled]="formularioRegistro?.invalid || moduloRegister === 2" class="btn button-register">Guardar</button>
                                        </div>
                                        <div class="col">
                                            <button type="button" [disabled]="moduloRegister === 2" (click)="resetData()" class="btn button-clean">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>