<app-navbar></app-navbar>

<nav class="navbar bg-body-tertiary" style="display: inline;">
  <div class="container-fluid" style="padding: 0px;">
      <div class="row row-cols-1">
        <div class="div-redondeado-right">
          <h3 style="font-size: 1rem; font-weight: bold; margin: 0px;">{{ position }}</h3>
        </div>

        <div class="div-redondeado-right-home">
          <h3 style="font-size: 14px; margin: 0px;">
            <i 
              (click)="onValidateInfo()" 
              class="icon-home bi-house-door-fill">
            </i>
            3.1 Ingresar nuevo registro
          </h3>
        </div>
      </div>
    <div class="d-flex" role="search">
      <div class="row row-cols-1">
        <div class="col">
          <button (click)="logout()" class="btn button-close div-redondeado-left-sesion">
              <h3 style="font-size: 0.9rem; margin: 0px;">{{ data.csesion }}</h3>
          </button>
        </div>

        <div class="col">
          <div class="div-redondeado-left">
            <h3 style="font-size: 0.8rem; margin: 0px;">{{ nombreUser }} <br> {{ cargoUser }}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="card text-center card-size fw-bold">

  <div class="card-body">
    <form [formGroup]="formularioRegistro!" (ngSubmit)="saveForm()">
      <div class="container text-end">
        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label class="form-label">*Campo Obligatorios</label>
            </div>
          </div>
        </div>
      </div>

      <div class="container text-start" style="margin-bottom: 40px;">
        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label class="form-label">*Nombre Completo:</label>
              <input
                maxlength="200"
                formControlName="nombre_completo"
                type="text" 
                class="form-control">
            </div>
          </div>
        </div>
      </div>

      <div class="container text-center">
        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label class="form-label">Sección Electoral:</label>
              <input 
                maxlength="4"
                type="text"
                formControlName="seccion_electoral"
                (change)="changeSeccion()"
                class="form-control">
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <label class="form-label">Demarcación:</label>
              <select 
                formControlName="demarcacion"
                class="select-input form-select" 
                aria-label="Default select example"
                [(ngModel)]="opcionDemarcacion"  
              >

                <option value="" disabled selected>Seleccione una opción</option>
                @for (item of catalogoDemarcacion; track item) {
                  <option [value]="item.id">{{item.demarcacion_territorial}}</option>
                }
              </select>
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <label class="form-label">Distrito Electoral Local Uninominal:</label>
              <input 
                type="text"
                formControlName="duninominal"
                class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label class="form-label">*Tipo de directorio:</label>
              <select 
                formControlName="scomunidad"
                class="select-input form-select" 
                aria-label="Default select example"
                [(ngModel)]="opcionComunidad"
                (change)="onChangeComunidad()"
              >
                <option value="" disabled selected>Seleccione una opción</option>
                @for (item of catalogoComunidad; track item) {
                  <option [value]="item.id">{{item.comunidad}}</option>
                }
              </select>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="showIndigenas" class="card text-center" style="margin-top: 15px; margin-bottom: 10px; border: 1px solid black;">
        <div class="card-body">
          <div class="container text-center">
            <div class="row">
              <div class="col">
                <div class="mb-3">
                  <label class="form-label">*Pueblo Originario:</label>
                  <select 
                    formControlName="ooriginario" 
                    class="select-input form-select" 
                    aria-label="Default select example"
                    [(ngModel)]="opcionPuebloOriginario"
                    (change)="onChangePuebloOriginario()"
                  >
                    <option value="" disabled selected>Seleccione una opción</option>
                    @for (item of catalogoPueblor; track item) {
                      <option [value]="item.id">{{item.pueblo_originario}}</option>
                    }
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="mb-3">
                  <label class="form-label">*Pueblo:</label>
                  <select 
                    formControlName="pueblo" 
                    class="select-input form-select" 
                    aria-label="Default select example"
                    [(ngModel)]="opcionPueblo"
                    (change)="onChangePueblo()"
                  >
                    <option value="" disabled selected>Seleccione una opción</option>
                    @for (item of catalogoPueblos; track item) {
                      <option [value]="item.id">{{item.pueblo}}</option>
                    }
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="mb-3">
                  <label class="form-label">*Barrio:</label>
                  <select 
                    formControlName="barrio" 
                    class="select-input form-select" 
                    aria-label="Default select example"
                    [(ngModel)]="opcionBarrio"
                    (change)="onChangeBarrio()"
                  >
                    <option value="" disabled selected>Seleccione una opción</option>
                    @for (item of catalogoBarrios; track item) {
                      <option [value]="item.id">{{item.barrio}}</option>
                    }
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="mb-3">
                  <label class="form-label">*Unidad Territorial:</label>
                  <select 
                    formControlName="uterritorial" 
                    class="select-input form-select" 
                    aria-label="Default select example"
                    [(ngModel)]="opcionUnidadTerritorial"
                    (change)="onChangeUnidadTerritorial()"
                  >
                    <option value="" disabled selected>Seleccione una opción</option>
                    @for (item of catalogoUnidadTerritorial; track item) {
                      <option [value]="item.id">{{item.ut}}</option>
                    }
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="mb-3">
                  <label class="form-label">Comunidad indígena residente:</label>
                  <input 
                    formControlName="comunidad"
                    type="text" 
                    class="form-control">
                </div>
              </div>
              <div class="col">
                <div class="mb-3">
                  <label class="form-label">Otro:</label>
                  <input 
                    formControlName="otro"
                    type="text"
                    maxlength="200"
                    class="form-control"
                    (change)="onChangeOtro()"
                  >
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="mb-3">
                </div>
              </div>
              <div class="col">
              </div>
              <div class="col">
                <div class="mb-3">
                  <button type="button" class="btn button-register-c" (click)="resetSeleccion()">Corregir Selección</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="showAfromexicanos" class="card text-center" style="margin-top: 15px; border: 1px solid black; margin-bottom: 30px;">
        <div class="card-body">
          <div class="container text-center">
            <div class="row">
              <div class="col">
                <div class="mb-3">
                  <label class="form-label">*Pueblo:</label>
                  <input 
                    formControlName="pueblor"
                    type="text" 
                    class="form-control"
                    (change)="onChangePuebloT()"
                  >
                </div>
              </div>
              <div class="col">
                <div class="mb-3">
                  <label class="form-label">*Comunidad afromexicana residente:</label>
                  <input
                    maxlength="200"
                    formControlName="comunidadr"
                    type="text" 
                    class="form-control"
                    (change)="onChangeComunidadT()"
                  >
                </div>
              </div>
              <div class="col">
                <div class="mb-3">
                  <label class="form-label">*Organización:</label>
                  <input 
                    formControlName="organizacion"
                    type="text" 
                    class="form-control"
                    (change)="onChangeOrganizacionT()"
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="mb-3">
                  <label class="form-label">Persona Relevante:</label>
                  <input 
                    maxlength="200"
                    formControlName="prelevante"
                    type="text" 
                    class="form-control">
                </div>
              </div>
              <div class="col">
                <div class="mb-3">
                  <label class="form-label">Otro:</label>
                  <input
                    formControlName="otror"
                    type="text" 
                    maxlength="200"
                    class="form-control"
                    (change)="onChangeOtroT()"
                  >
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="mb-3">
                </div>
              </div>
              <div class="col">
              </div>
              <div class="col">
                <div class="mb-3">
                  <button type="button" class="btn button-register-c" (click)="resetSeleccion()">Corregir Selección</button>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>

      <div class="container text-start">
        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label class="form-label">*Nombre de la instancia representativa o autoridad tradicional a la que pertenece:</label>
              <input 
                formControlName="ninstancia"
                maxlength="200"
                type="text" 
                class="form-control">
            </div>
          </div>
        </div>
      </div>

      <div class="container text-start" style="margin-bottom: 25px;">
        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label class="form-label">*Cargo que ocupa en la instancia representativa o autoridad tradicional:</label>
              <input 
                formControlName="cinstancia"
                maxlength="200"
                type="text" 
                class="form-control">
            </div>
          </div>
        </div>
      </div>

      <div class="container text-start">
        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label class="form-label">*Domicilio:</label>
              <input
                maxlength="200"
                formControlName="domicilio"
                type="text" 
                class="form-control">
            </div>
          </div>
        </div>
      </div>

      <div class="container text-center">
        <div class="row">
          <div class="col-4">
            <div class="mb-3">
              <label class="form-label">Teléfono particular (fijo):</label>
              <input
                maxlength="10"
                formControlName="tfijo"
                type="text"
                pattern="[0-9]*"
                inputmode="numeric" 
                oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                class="form-control">
            </div>
          </div>
          <div class="col-4">
            <div class="mb-3">
              <label class="form-label">*Teléfono celular:</label>
              <input

                maxlength="10"
                formControlName="tcelular"
                type="text"
                pattern="[0-9]*"
                inputmode="numeric" 
                oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                class="form-control">
            </div>
          </div>
          <div class="col-4">
            <div class="mb-3">
              <label for="formFile" class="form-label">Documentos:</label>
              <input
                  class="form-control"
                  type="file"
                  id="formFile"
                  (change)="onFileSelected($event)"
                  accept=".zip"
                  formControlName="documentos"
                  [disabled]="fileUploaded"
                  #fileInputRef
              />
              <button
                  *ngIf="fileUploaded"
                  type="button"
                  class="btn btn-outline-danger"
                  (click)="removeFile(fileInputRef)"
              >
              🗑️
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="mb-3">
              <label class="form-label">Correo electrónico oficial:</label>
              <input
                maxlength="200"
                formControlName="coficial"
                type="email" 
                class="form-control">
            </div>
          </div>
          <div class="col-6">
            <div class="mb-3">
              <label class="form-label">*Correo electrónico no oficial (personal):</label>
              <input
                maxlength="200"
                (blur)="liberaFormulario()" 
                type="email"
                formControlName="cpersonal"
                class="form-control">
            </div>
          </div>
        </div>
      </div>

      <div class="container text-center">
        <div class="row">
          <div class="col">
            <label class="form-label">Fecha de registro:</label>
          </div>
          <div class="col">
            <label class="form-label">Hora de registro:</label>
          </div>
          <div class="col">
            <label class="form-label">Módulo de registro:</label>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label class="form-label" style="color: #b7b5b8;">{{ today }}</label>
          </div>
          <div class="col">
            <label class="form-label" style="color: #b7b5b8;">{{ currentTime }}</label>
          </div>
          <div class="col">
            <label class="form-label" style="color: #b7b5b8;">
              Módulo 3 de Acceso <br> Àrea Ejecutiva o Técnica</label>
          </div>
        </div>
      </div>

      <div class="container text-center" style="margin-top: 15px;">
        <div class="row">
          <div class="col">
            <button type="submit" class="btn button-register">{{data.btn1}}</button>
          </div>
          <div class="col">
            <button type="button" (click)="resetData()" class="btn button-clean">{{data.btn2}}</button>
          </div>
        </div>
      </div>

      <div *ngIf="formularioRegistro?.get('coficial')?.invalid && 
          (formularioRegistro?.get('coficial')?.dirty || formularioRegistro?.get('coficial')?.touched)">
        <div *ngIf="formularioRegistro?.get('coficial')?.errors?.['email']">
          Por favor, ingresa un correo electrónico válido.
        </div>
      </div>

      <div *ngIf="formularioRegistro?.get('cpersonal')?.invalid && 
          (formularioRegistro?.get('cpersonal')?.dirty || formularioRegistro?.get('cpersonal')?.touched)">
        <div *ngIf="formularioRegistro?.get('cpersonal')?.errors?.['required']">
          El correo es requerido.
        </div>
        <div *ngIf="formularioRegistro?.get('cpersonal')?.errors?.['email']">
          Por favor, ingresa un correo electrónico válido.
        </div>
      </div>
    </form>
  </div>
</div>