
.login-card {
    padding: 30px;
    background-color: transparent;
    border: none;
}

.btn.cerrar {
    color: #f4f4f4!important;
    background-color: #FBB03B!important;
}

.inline-icon {
    width: 20px;
    margin-right: 10px;
}

.div-redondeado-right {
    padding: 20px;
    max-width: 610px;
    height: 4px;
    color: #f4f4f4!important;
    background-color: #9B3BCA!important;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
}

.div-redondeado-left {
    padding: 20px;
    width: 340px;
    height: 10px;
    color: #f4f4f4!important;
    background-color: #9B3BCA!important;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: auto;
    display: flex;
    justify-content: right;
    align-items: center;
    font-family: Arial, sans-serif;
    font-style: italic;
    text-align: right;
}

.div-redondeado-left-sesion {
    padding: 13px;
    width: 200px;
    height: 1px;
    color: #f4f4f4!important;
    background-color: #FBB03B!important;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-style: italic;
}

.div-redondeado-right-home {
    margin: 0px;
    padding: 26px;
    width: 410%;
    max-width: 861px;  
    min-height: 40px;
    height: 1px;
    color: #f4f4f4!important;
    background-color: #BF90DD!important;
    border-top-right-radius: 26px;
    border-bottom-right-radius: 26px;
    display: flex;
    justify-content: right;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7pt;
}

.title-menu{
    cursor: pointer;
    white-space: normal;
    overflow-wrap: break-word;
    margin: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
}

.button-close {
    border-color: transparent;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.icon-home {
    margin-right: 10px;
    vertical-align: middle;
    cursor: pointer;
    font-size: 20px;
}

.card-size {
    margin-left: 20%;
    padding: 30px;
    width: 60%;
    height: auto;
    border: 1px solid black;
    margin-top: 15px;
    border-radius: 26px;
}

input {
    text-align: center;
    height: 37px;
    border-radius: 15px;
    border: 1px solid black;
} 

.select-input {
    height: 37px;
    border-radius: 15px;
    border: 1px solid black;
    align-items: center;
    text-align: center;
}

.button-clean {
    width: 50%;
    height: 38px;
    border-radius: 15px;
    background-color: #9B3BCA!important;
    color: black!important;
    font-weight: bold;
}

.button-register {
    width: 50%;
    height: 38px;
    border-radius: 15px;
    background-color: #FBB03B!important;
    color: black!important;
    font-weight: bold;
}


table {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    word-wrap: break-word;
    table-layout: fixed;
}

.tables {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    table-layout: fixed;
    word-wrap: break-word;
}

th {
    color: #ffff;
    background-color: #9B3BCA !important;
}

.button {
    background-color: #FBB03B;
    width: 197px;
    border-radius: 45px;
    height: 39px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 11px;
}

th,
td {
    
    font-size: 12px!important;
    text-align: center;
    border: 1px solid white;
    padding: 8px;
}

i{
    background-color: transparent;
    cursor: pointer;
    font-size: 13px;
}

.button-table {
    background-color: transparent;
    cursor: pointer;
    font-size: 13px;
    background-color: transparent; color:black; border: none;
}

.box-search{
    background-color: #9D00CA;
    color: #ffff;
    border-radius: 15px;
    width: 122px;
    display: flex;
    font-size: 14px;
}

.btn-abrir {
    border-radius: 19px;
    border: 1px solid black;
    font-size: 10px;
    background-color: #b9ffb6;
    width: 126px;
    height: 21px;
    font-weight: bold;
    padding: 0px;   
}

.btn-cerrar {
    border-radius: 19px;
    border: 1px solid black;
    font-size: 10px;
    background-color: #f88686;
    width: 126px;
    height: 21px;
    font-weight: bold;
    padding: 0px;
}

.closed-true {
    border-radius: 19px;
    border: none;
    font-size: 10px;
    background-color: #034d13;
    width: 90px;
    color: #ffff;
    display: inline-block;
    height: 21px;
    padding: 3px;
}

.closed-false {
    border-radius: 19px;
    border: none;
    font-size: 10px;
    padding: 3px;
    color: #ffff;
    display: inline-block;
    background-color: #e85050;
    width: 90px;
    height: 21px;
}

.btn-clean {
    border-radius: 15px;
    border: transparent;
    color: white;
    background-color: #FBB03B;
    font-family: Arial, sans-serif;
    font-style: italic;
    width: 77%;
    height: 27px;
    padding: 0px;
}

.col-modulo { width: 15%; }
.col-estado { width: 25%; }
.col-botones { width: 40%; }
.col-checkbox { width: 20%; }