<app-navbar></app-navbar>

<nav class="navbar bg-body-tertiary" style="display: inline;">
  <div class="container-fluid" style="padding: 0px;">
      <a class="navbar-brand">
        <div class="row row-cols-1">
          <div class="col">
            <div class="div-redondeado-right">
              <h3 style="font-size: 1rem; font-weight: bold; margin: 0px;">{{ position }}</h3>
            </div>
          </div>

          <div class="col div-redondeado-right-home">
              <h3 style="font-size: 14px; margin: 0px;">
                <i (click)="onValidateInfo()" class=" icon-home bi-house-door-fill"></i>
                Centro de Control
              </h3>
          </div>
        </div>
      </a>
      <form class="d-flex" role="search">
          <div class="row row-cols-1">
              <div class="col">
                  <button (click)="logout()" class="btn button-close div-redondeado-left-sesion">
                      <h3 style="font-size: 0.9rem; margin: 0px;">{{ data.csesion }}</h3>
                  </button>
              </div>

              <div class="col">
                  <div class="div-redondeado-left">
                    <h3 style="font-size: 0.8rem; margin: 0px;">{{ nombreUser }} <br> {{ cargoUser }}</h3>
                  </div>
              </div>
          </div>
      </form>
  </div>
</nav>



<div class="container justify-content-center mt-4">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>DD</th>
          <th>Estado del Sistema</th>
          <th>Abrir / Cerrar Distrito</th>
          <th>1.1</th>
          <th>1.2</th>
          <th>1.3</th>
          <th>1.7</th>
          <th>1.8</th>
          <th>1.9</th>
          <th>1.10</th>
        </tr>
      </thead>
    </table>
</div>

<div class="container justify-content-center mt-4">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>DD</th>
          <th>Estado del Sistema</th>
          <th>Abrir / Cerrar Distrito</th>
          <th>1.1</th>
          <th>1.2</th>
          <th>1.3</th>
          <th>1.7</th>
          <th>1.8</th>
          <th>1.9</th>
          <th>1.10</th>
        </tr>
      </thead>
    </table>
</div>
<table class="table table-hover">
  ...
</table>
